[Unit]
Description=govnocloud master

[Service]
Restart=always
ExecStart=/usr/local/bin/govnocloud-master
Environment="MASTER_ETCD_HOST=localhost"
Environment="MASTER_LISTEN_HOST={{ ansible_enp0s31f6.ipv4.address }}"

[Install]
WantedBy=default.target