version: '3'
services:
  node:
    image: loqutus/govnocloud-node
    ports:
      - "6969:6969"
    environment:
      "NODE_LIBVIRT_SOCKET" : "qemu:///system"
      "NODE_NAME": "x230"
      "NODE_IP": "100.126.141.49"
    volumes:
      - /run/libvirt:/run/libvirt/
      - /var/run/docker.sock:/var/run/docker.sock
      - /var/lib/libvirt/images:/var/lib/libvirt/images
      - /mnt:/mnt