[Unit]
Description=govnocloud node

[Service]
Restart=always
ExecStart=/usr/local/bin/govnocloud node
Environment="MASTER_ETCD_HOST=localhost" "MASTER_LISTEN_HOST=100.82.210.47"

[Install]
WantedBy=default.target